<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.nware.app.hsDroid"
    android:versionCode="5"
    android:versionName="@string/app_version" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/nTheme" >
        <activity
            android:name="HsDroidMain"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.nware.app.hsDroid.ui.GradesList"
            android:configChanges="orientation"
            android:label="@string/grades_view"
            android:exported="false" >
        </activity>
        <activity
            android:name=".ui.Preferences"
            android:label="@string/label_set_preferences"
            android:exported="false" >
        </activity>

        <provider
            android:name="de.nware.app.hsDroid.provider.onlineService2Provider"
            android:authorities="de.nware.app.hsDroid.provider.onlineService2Provider"
            android:exported="false" >
            <grant-uri-permission android:pathPattern=".*" />
        </provider>

        <activity
            android:name=".ui.Dashboard"
            android:label="@string/dashboard_label"
            android:exported="false" >
        </activity>
        <activity android:name=".ui.Certifications"
            android:label="@string/title_Certifications"
            android:exported="false" >
        </activity>
        <activity android:name=".ui.DirChooser"
            android:exported="false"
            android:label="@string/dirchooser_label" >
        </activity>
    </application>

</manifest>